@using Foosball.Models.FoosballModels
@model Foosball.Models.FoosballModels.Game

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Location.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        @foreach (PlayerGame playerGame in Model.PlayerGames)
        {
            <dt class="details-username">
                @Html.DisplayNameFor(model => playerGame.Player.Username)
            </dt>

            string style = !playerGame.IsWin ? "text-success" : "text-danger";
            <dd class="details-username @style">
                @Html.DisplayFor(model => playerGame.Player.Username)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => playerGame.Player.Elo)
            </dt>

            <dd>
                @Html.DisplayFor(model => playerGame.Player.Elo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => playerGame.IsConfirmed)
            </dt>

            <dd>
                @Html.DisplayFor(model => playerGame.IsConfirmed)
            </dd>
        }


    </dl>
</div>
<script>
    function dontrun() {
        var date = new Date();
        document.getElementById("Date").value = date.getFullYear() + "." + date.getMonth() + "." + date.getDay();

    }

    dontrun();

</script>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
